@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: #ede7f6;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin: 0;
  min-width: 140vh;
}
