@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: #ede7f6;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin: 0;
  min-width: 140vh;
}

.user {
  font-size: 18px;
  width: min-content;
  margin: auto 20px auto 0;
  font-weight: 600;
  padding: 5px;
}

.user:hover {
  color: #1111c1;
  border-radius: 5px;
  background-color: #aaa;
  cursor: pointer;
}

.message {
  width: 150px;
  background-color: black;
  color: #fff;
  padding: 20px;
  position: relative;
  margin: 40px;
}

.message::after {
  content: " ";
  position: absolute;
  right: 30px;
  bottom: -15px;
  border-top: 15px solid black;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}
